*{
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.MELreqp{
    padding-top: 42px;
    color: #086288;
}
.MELmentorl{
    display: flex;
    background-color: white;
}
.MELsearc{
    height: 36px;
    width: 25%;
    border-radius: 5px;
    margin: 5px;
    margin-left: 600px;
    /* border: none; */
}
.MELmentornew{
    margin: 5px;
    margin-left:4px;
    border-radius: 4px;
    color: white !important;
    background-color: #FAA81D !important;
    border: none;
    width: 110px;
    height:36px;
    

}
.MELpar{
    color: #FAA81D;
    padding: 9px;
}
.MELpar1{
    color: #363636;
    padding: 9px;
}
.Mdrop{
    
    color: white;
    background-color: #086288;
    border-radius: 10px;
    border: none;
}
#Mpo1{
    color: #086288;
}
#Mpo2{
    color: #EC3E66;
}
#Mpo3{
    color: #EC3E66;
}
#Mpo4{
    color: #EC3E66;
}
#Mpo5{
    color: #02B91B;
}