/* Background */
.bg-dark-black {
  background: #333333 !important;
}
.bg-light-black {
  background: #706c61 !important;
}
.bg-white {
  background: #ffffff !important;
}
.bg-light-white {
  background: #f8fafb !important;
}

/* Color */
.color-white {
  color: #ffffff !important;
}
.color-dark-black {
  color: #333333 !important;
}
.color-light-black {
  color: #4a4a4a !important;
}
